{%- set color_configuration = {
  "no_holiday": {
     "match": [
        255,
        199,
        125,
        245
     ]
  },
  "patriotic": {
     "red": [
        255,
        0,
        0,
        0
     ],
     "blue": [
        0,
        0,
        255,
        0
     ],
     "white": {
        "color_temp": 260
     }
  },
  "valentines": {
     "red": [
        255,
        0,
        0,
        0
     ],
     "light_pink": [
        228,
        131,
        151,
        0
     ]
  },
  "st_patricks_day": {
     "green": [
        9,
        148,
        65,
        0
     ],
     "gold": [
        217,
        223,
        29,
        0
     ]
  },
  "easter": {
     "pink": [
        255,
        0,
        192,
        0
     ],
     "purple": [
        192,
        3,
        255,
        0
     ],
     "teal": [
        0,
        255,
        254,
        0
     ]
  },
  "memorial_day": {
     "red": [
        255,
        0,
        0,
        0
     ],
     "blue": [
        0,
        0,
        255,
        0
     ],
     "white": {
        "color_temp": 260
     }
  },
  "independence_day": {
     "red": [
        255,
        0,
        0,
        0
     ],
     "blue": [
        0,
        0,
        255,
        0
     ],
     "white": {
        "color_temp": 260
     }
  },
  "halloween": {
     "purple": [
        136,
        30,
        228,
        0
     ],
     "orange": [
        247,
        95,
        28,
        0
     ],
  },
  "veterans_day": {
     "red": [
        255,
        0,
        0,
        0
     ],
     "blue": [
        0,
        0,
        255,
        0
     ],
     "white": {
        "color_temp": 260
     }
  },
  "christmas": {
     "red": [
        179,
        0,
        12,
        0
     ],
     "green": [
        0,
        179,
        44,
        0
     ]
  },
  "thanksgiving": {
     "yellow": [
        241,
        185,
        48,
        0
     ],
     "autumn": [
        181,
        71,
        48,
        0
     ],
     "lime": [
        138,
        151,
        72,
        0
     ]
  }
} %}
